.container{
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 50px;
  margin-right: 100px;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 300% 300%;
  background-image: linear-gradient(
        -45deg,
        rgb(210, 227, 59) 0%,
        rgb(87, 230, 118) 25%,
        rgb(183, 68, 68) 51%,
        rgb(73, 53, 255) 100%
  );
  animation: AnimateBG 20s ease infinite;
}

.ltitle {
  color: black;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  text-decoration: underline;
  border-style: dashed;
}

.ldescription {
  color: black;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  border-style: dashed;
}


.images{
  background-color: transparent;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-style: dashed;
  margin-bottom: 10px;
}

.imagespadding{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
}

.list-group-item {
  background-color: transparent;
}
 .reviewbox {
  border-style: dashed;
  margin-bottom: 10px;
  padding-left: 5px;
 }


 .spacecategory{
  margin-bottom: 10px;
 }
