.session{
  color: mediumorchid;
  background-color: white;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 200px;
  margin-bottom: 200px;
  padding: 10px 10px;
  border-radius: 5px;
  border-color:  black;
  border-style: outset;
  width: 700px;
}
.sign_up{
 color:black;
}

.password_forget{
  color:black;
 }
