<div class="flash flash-success alert alert-dismissible fade show" role="alert">
  <span><strong>Congrat!</strong> you successfully signed in to our website 🎉.</span>
  <a data-bs-dismiss="alert" aria-label="Close">
    <i class="fas fa-times"></i>
  </a>
</div>
