<div>
<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.istockphoto.com/id/1298329918/fr/photo/toast-de-c%C3%A9l%C3%A9bration-danniversaire-avec-des-lumi%C3%A8res-de-corde-et-des-silhouettes-de-champagne.jpg?s=612x612&w=0&k=20&c=zNI7hWJRLzy4t9xZ4maMeXlbDKKF99kSMJRklkee7eM=)">
    Category-1
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.istockphoto.com/id/1342439610/fr/photo/fond-de-no%C3%ABl-et-du-nouvel-an-avec-des-branches-de-sapin-des-boules-de-no%C3%ABl-et-des-lumi%C3%A8res.jpg?s=612x612&w=0&k=20&c=LOUd9rnLVovnV7p8bPbTG8MTA32qXpqB-YY1fRnvVyw=)">
    Category-2
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1515934751635-c81c6bc9a2d8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8d2VkZGluZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60)">
    <i>Wedding</i>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.pinimg.com/736x/cd/45/db/cd45dbae198513132ebdebfb456815d2.jpg)">
    <i>Adults Party</i>
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.gettyimages.com/id/563939445/photo/1940s-1950s-two-children-blowing-out-birthday-candles.jpg?s=612x612&w=gi&k=20&c=9GbVZ55OCGmIiAlUq9IiqiG9YszoUyGrMB7MnJy-5A0=)">
    <i>Kids Birthday</i>
  </div>

</div>
</div>
