<div class="cards-container">

  <div class="card-1" style="width:75%">
    <div>
      <img src="https://media.vanityfair.com/photos/6238b1b50a2276573e649383/master/w_1920,h_1232,c_limit/the-gilded-age-ball.png"  style="width:75%">
    </div>
  </div>
  <div>
    <p><strong>BALL PARTY</strong></p>
    <p><strong>LET`S INVITE YOUR FRIENDS AND WE CAN PREP EVERYTHING FOR YOU</strong></p>
    <p>Lorem ipsum dolor sit amet. Et excepturi distinctio qui animi rerum ut autem necessitatibus et dignissimos animi. Eos Quis optio ut tenetur dolores est illo praesentium qui odit consectetur ut accusamus quod. Ea nihil omnis quo eligendi quia et consequatur maiores. Sed dolores Quis ea voluptatibus quasi non sapiente excepturi.</p>
  </div>

  <div class="card-2" style="width:75%">
    <div>
      <img src="https://www.greenvelope.com/blog/wp-content/uploads/AdobeStock_198831835.jpeg" style="width:75%">
    </div>
  </div>
  <div>
    <p><strong>WEDDING PARTY</strong></p>
    <p><strong>YOU INVITE ALL YOUR FRIENDS AND WE CAN PREP EVERYTHING FOR YOU.</strong></p>
    <p>Lorem ipsum dolor sit amet. Et excepturi distinctio qui animi rerum ut autem necessitatibus et dignissimos animi. Eos Quis optio ut tenetur dolores est illo praesentium qui odit consectetur ut accusamus quod. Ea nihil omnis quo eligendi quia et consequatur maiores. Sed dolores Quis ea voluptatibus quasi non sapiente excepturi. </p>
  </div>

  <div class="card-3" style="width:75%">
    <div>
      <img src="https://img.theculturetrip.com/wp-content/uploads/2018/03/1928198.jpg" style="width:75%">
    </div>
  </div>
  <div>
    <p><strong>STUDENT PARTY</strong></p>
    <p><strong>YOU INVITE ALL YOUR FRIENDS AND WE CAN PREP EVERYTHING FOR YOU.</strong></p>
    <p>Lorem ipsum dolor sit amet. Et excepturi distinctio qui animi rerum ut autem necessitatibus et dignissimos animi. Eos Quis optio ut tenetur dolores est illo praesentium qui odit consectetur ut accusamus quod. Ea nihil omnis quo eligendi quia et consequatur maiores. Sed dolores Quis ea voluptatibus quasi non sapiente excepturi.</p>
  </div>

  <div class="card-4" style="width:75%">
    <div>
      <img src="https://cdn.cdnparenting.com/articles/2018/04/407263582-H.jpg" style="width:75%">
    </div>
  </div>
  <div>
    <p><strong>KIDS BIRTHDAY PARTY<strong></p>
    <p><strong>YOU INVITE ALL YOUR FRIENDS AND WE CAN PREP EVERYTHING FOR YOU.</strong></p>
    <p>Lorem ipsum dolor sit amet. Et excepturi distinctio qui animi rerum ut autem necessitatibus et dignissimos animi. Eos Quis optio ut tenetur dolores est illo praesentium qui odit consectetur ut accusamus quod. Ea nihil omnis quo eligendi quia et consequatur maiores. Sed dolores Quis ea voluptatibus quasi non sapiente excepturi. </p>
  </div>

  <div class="card-5" style="width:75%">
    <div>
      <img src="https://media.gettyimages.com/id/1298329918/nl/foto/verjaardag-feestelijke-toast-met-string-lichten-en-champagne-silhouetten.jpg?s=612x612&w=0&k=20&c=RAQzI2uRqArl4F8doDtea-6k_80T-vFUtC1fGZosEh8="  style="width:75%">
    </div>
  </div>
  <div>
    <p><strong>BIRTHDAY PARTY</strong></p>
    <p><strong>LET`S INVITE YOUR FRIENDS AND WE CAN PREP EVERYTHING FOR YOU</strong></p>
    <p>Lorem ipsum dolor sit amet. Et excepturi distinctio qui animi rerum ut autem necessitatibus et dignissimos animi. Eos Quis optio ut tenetur dolores est illo praesentium qui odit consectetur ut accusamus quod. Ea nihil omnis quo eligendi quia et consequatur maiores. Sed dolores Quis ea voluptatibus quasi non sapiente excepturi.</p>
  </div>
</div>
