<div class="cards" style=
  <div class="card-category" style="image.png">
  </div>

  <div class="card-category" style="image.png">
  </div>

  <div class="card-category" style="image.png">
  </div>
</div>
