.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item {
  justify-content: space-between;
  margin: 15px;
}

.form-text {
  width: 100%;
  align-items: center;
}

form {
  display: flex;
}

.form-control reduction form-text{
  box-shadow: 0 2px 6px black;
  border-radius: 0em;
  border-radius: 4px;
  font-weight: bold;
  padding: 8px 24px;

}
.nav-btn{
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  border: 1px solid #0F60C4;
}
