.search-form-control {
  position:relative;
}

.search-form-control .btn {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
}
.search-form-control.btn-disabled {
  background-color: red;
  opacity: 0.6;
  cursor: not-allowed;
}
.search-form-control .form-control {
  height: 4rem;
  width: 4rem;
  box-shadow: 0 2px 6px black;
  border: 2px solid white;
}

.search-form-control .form-control:focus {

  border:black;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}
